footer
	padding 20px 0
	background-color: #EDEFEF
	font-size: 14px
	font-family:  "Arial", sans-serif
	text-align: center
	color #000
	h5
		font-family: PH
		font-size: 20px
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 10px 7px 15px
		position relative
		z-index: 1
		.fa
			background-color: #ffc55a
			width: 32px;
			height: 32px;
			color #ffffff
			line-height 32px
			border: 1px solid #ffc55a
			font-size 18px
			position relative
			z-index 9
			transition all .3s ease
		&:hover
			.fa
				background-color: transparent
				color: #ffc55a
				transform: translateY(-3px)