section#main
	.container
		.bordered-container.bordered-container-main
			.inner-bordered-container
				.bordered-container-wrapper
					p.pre Бонус от Анны Ролевой и Вероники Юриной
					h1.main-title= head_title
					.video-wrapper.video-wrapper-main
						iframe(src="https://youtube.com/embed/"+video+"?rel=0&autoplay=1&mute=1" allowfullscreen)