-var head_url = 'https://roleva-yurina.mastervision.su/genic-keys-webinar/bonus/';
-var head_title = '«Сексуальные травмы»';
-var head_description = 'Бонус от Анны Ролевой и Вероники Юриной';
-var video = 'MOr0tt7jIzE';
-var styles = '../css/bonus.min.css';
-var fb_content = '2030481470529055'
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/header
		include pug/bonus/1.main.pug
		include pug/bonus/2.feedback.pug
		include pug/bonus/3.footer.pug
		include pug/scripts/body_bottom_scripts