-var head_url = 'https://roleva-yurina.mastervision.su/genic-keys-webinar/home-tasks/';
-var head_title = 'Домашние задания от Вероники Юриной и Анны Ролевой';
-var styles = '../css/bonus.min.css';
-var fb_content = '2030481470529055'
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'
	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/header
		section#main
			.container
				.bordered-container.bordered-container-ht
					.inner-bordered-container
						.bordered-container-wrapper
							h1.main-title-ht Домашние задания от Анны Ролевой и Вероники Юриной:
							//- p.main-text Напишите, искали ли Вы свое предназначение и какими способами? Что Вам удалось понять о себе? Какие остались вопросы?
							.row
								.col-md-4.col-sm-4
									.video-wrapper.video-wrapper-main
										iframe(src="https://youtube.com/embed/0LlRCNJdDrI" allowfullscreen)
									h2.main-subtitle Первое задание от Анны Ролевой и Вероники Юриной:
									p.main-text Напишите, искали ли Вы свое предназначение и какими способами? Что Вам удалось понять о себе? Какие остались вопросы?
								.col-md-4.col-sm-4
									.video-wrapper.video-wrapper-main
										iframe(src="https://youtube.com/embed/BxeXZ59X2mE" allowfullscreen)
									h2.main-subtitle Второе важное задание, которое поможет развить осознанность и отследить шаблоны в Ваших отношениях:
									p.main-text Опишите ситуации, когда Вы не проходили свой любовный урок с одним человеком и приходил второй похожий. Опишите основные типичные негативные чувства, которые Вы испытываете в любовной сфере, например: боль, разочарование, обида. Опишите кратко, чего Вам не хватает для счастья в любовной сфере
								.col-md-4.col-sm-4
									.video-wrapper.video-wrapper-main
										iframe(src="https://youtube.com/embed/naTHwOhs95w" allowfullscreen)
									h2.main-subtitle Чтобы пойти навстречу к Процветанию, выполните третье подготовительное упражнение от Анны Ролевой и Вероники Юриной:
									p.main-text Напишите, какие Ваши сильные стороны, на которых можно построить Ваш личный бренд. Опишите, что блокирует Ваш денежный потенциал. Какие негативные сценарии в сфере денег Вы проживаете? Есть ли у Вас негативные финансовые установки?
		include pug/bonus/2.feedback.pug
		include pug/bonus/3.footer.pug
		include pug/scripts/body_bottom_scripts