section#main
	.container
		.bordered-container.main-container
			.inner-bordered-container.main-inner-container
				.bordered-container-wrapper
					p.pre Бесплатный 3-х дневный онлайн-мастер-класс
					h1.main-title Механика Генных Ключей
					p.main-info Авторы: Анна Ролева и Вероника Юрина
					p.main-info Даты проведения: №№ - №№ месяца
		h2.main-subtitle Раскройте код своего Предназначения, денежный и любовный потенциал с помощью вашей уникальной генетической матрицы!
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/ugvRfI35t6U?autoplay=1&mute=1" allowfullscreen)