mixin reason(p)
	.reason
		p.reason-text= p

section#reasons
	.container
		.bordered-container
			.inner-bordered-container
				.bordered-container-wrapper
					h3.general-title.general-title-2 Вам важно быть на онлайн-мастер-классе, если:
					.row
						.col-md-6.col-m-6
							+reason('Вы не понимаете кто вы, в чем ваши таланты и предназначение')
							+reason('Не знаете, куда дальше двигаться и к чему стремиться')
							+reason('Не чувствуете себя, не понимаете, чего вы хотите')
							+reason('Чувствуете, что можете больше, но у вас не получается реализоваться')
							+reason('Страхи, комплексы, проблемы с самооценкой')
						.col-md-6.col-m-6
							+reason('Знаете, чего хотите, но чувствуете фрустрацию и не верите, что у вас это будет')
							+reason('Не можете получать удовольствие от любовных и сексуальных отношениях')
							+reason('Вы не любите и не принимаете себя')
							+reason('Чувствуете нереализованность в любви и сексе')
							+reason('Ваш денежный потенциал заблокирован')