section#plan
	.container
		.bordered-container
			.inner-bordered-container
				.bordered-container-wrapper
					h3.general-title.general-title-2 План онлайн-мастер-класса:
					.day.day-1
						.row
							.col-md-4.col-sm-4
								h4.day-title День 1
								h5.day-subtitle Последовательность Активации: энергия вашего Предназначения
								img.day-img.day-img-1(src="img/images/day_1_img.png", alt="День 1: Картинка")
							.col-md-4.col-sm-4
								ul.day-list.day-list-1
									li Знакомство с учением о Генных ключах
									li Пробуждение осознанности в новом измерении реализации
									li От механики к мистике
									li Иньский и янский модус достижений
									li Паттерны жертв
							.col-md-4.col-sm-4
								ul.day-list.day-list-1
									li 4 основных техники для реализации предназначения
									li Ваша генетическая матрица: первые 4 ключа
									li Энергия Предназначения как фундамент для реализации в любви и материальном мире
									li Стратегии выхода из жертвы
					.day.day-2
						.row
							.col-md-4.col-sm-4
								h4.day-title День 2
								h5.day-subtitle Последовательность Венеры: исцеление через Близость
								img.day-img.day-img-2(src="img/images/day_2_img.png", alt="День 2: Картинка")
							.col-md-4.col-sm-4
								ul.day-list.day-list-2
									li Карта реализации вашего любовного потенциала
									li Исцеление близостью: каких людей мы притягиваем в отношения?
									li Сексуальная травма
									li Последовательность Венеры: классический и новый подход
									li Основные темы вашей любви и сексуальности: пробуждение уникальности
									li Раскрытие сердца через Генные ключи
									li 55 генный ключ: ворота Духа
							.col-md-4.col-sm-4
								ul.day-list.day-list-2
									li 59 генный ключ: от преследования к свободе в отношениях.
									li Сила честности в отношениях.
									li Как проработать сложные и проблемные отношения
									li Отпуская привязанности
									li Измены в отношениях
									li Исцеление старых травм в любви и сексе
									li Раскрытие потенциала к близости: от секса к сердцу
					.day.day-3
						.row
							.col-md-4.col-sm-4
								h4.day-title День 3
								h5.day-subtitle Жемчужная последовательность: реализация Денежного потенциала
								img.day-img.day-img-3(src="img/images/day_3_img.png", alt="День 3: Картинка")
							.col-md-4.col-sm-4
								ul.day-list.day-list-3
									li Основные блоки на пути вашей финансовой реализации
									li Ваш личный бренд и энергия денег
									li Денежный поток с позиции Генных ключей
									li Как разблокировать свой денежный потенциал и реализоваться в материальном мире
									li Основной код денег по генетической матрице
							.col-md-4.col-sm-4
								ul.day-list.day-list-3
									li Как реализация предназначения и раскрытия сердца влияют на количество денег в вашей жизни.
									li Запуск программы на тотальную реализацию в социуме
									li Жемчужная последовательность: интеграция пути
					button.button.button-2.button-mt(data-togglr="modal" data-target="#modal") Записаться 
						span сейчас!