section#authors
	.container
		h3.general-title О тренерах:
		.row
			.col-md-6.col-sm-6
				#authors-img
			.col-md-6.col-sm-6
				h4.author-title Вероника Юрина,
					small Проектор 3/5, Крест Чаша Любви
				ul.author-list
					li - Профессиональный тренер и преподаватель
					li - Дипломированный психолог
					li - Опыт работы с людьми и консультирования - 10 лет
					li - Обучала такие компании как ТрансНефтьЭнерго, Rambler, HH, Krutoy Media, Hearst Shkulev Media, ПГК, Бин-Банк, Mail Group и многие другие
				h4.author-title Анна Ролева,
					small Проектор 3/5, Крест 4х путей
				ul.author-list
					li - Автор и ведущая тренигов по предназначению
					li - Сертифицированный регрессолог (погружение в прошлые жизни)
					li - Проводит индивидуальные консультации и обучение по Механике Человека
		#certs
			.row
				.col-md-4
					h4.certs-title Сертификаты авторов:
				.col-md-2
					a.cert-link(href="img/certs/cert_1.jpg" data-fancybox="certs")
						img.cert-img(src="img/certs/cert_1_min.png", alt="Сертификат 1")
				.col-md-2
					a.cert-link(href="img/certs/cert_2.jpg" data-fancybox="certs")
						img.cert-img(src="img/certs/cert_2_min.png", alt="Сертификат 2")
				.col-md-2
					a.cert-link(href="img/certs/cert_3.jpg" data-fancybox="certs")
						img.cert-img(src="img/certs/cert_3_min.png", alt="Сертификат 3")
				.col-md-2
					a.cert-link(href="img/certs/cert_4.jpg" data-fancybox="certs")
						img.cert-img(src="img/certs/cert_4_min.png", alt="Сертификат 4")