section#last
	.container
		h3.general-title 
			span Начните сейчас - это бесплатно!
		p.last-text Десятки учеников доверяют нам и реализуют свои цели!
			br
			| Вы можете достичь таких же результатов!
		button.button.button-mt(data-togglr="modal" data-target="#modal") Записаться