.modal-content
	border-radius: 0
.mail-modal-content
	border: 3px solid #ffc55a
	background-color: rgb(42, 45, 62);
.form-modal
	border: none
	padding 0
	.email-block
		float: none
		display block
.modal-title
	font-size: 24px
	font-family: PH
	text-align: center
	width 84%
	color #fff
	margin 0 auto 20px;
.input-mail-modal
	display block
	float: none
	margin 0 auto 10px
.button-modal
	float: none
	display block
	margin 0 auto
.checking-modal .check-label::after
	border-bottom: 3px solid red
	border-right: 3px solid red