@media screen and (min-width 2295px)
	body
	.day-subtitle
		font-size: 20px
	.container
		width 1400px
	#main
		padding 40px 0 60px
		background-position: left bottom -410px, right bottom -325px
		background-size: 600px, 600px
	.main-subtitle
		font-size: 22px
		max-width 800px
		margin 30px auto
	.video-wrapper-main
		max-width 500px
	.email-block
		width 420px
	.input
		width 100%
		max-width 100%
	.button-form
		max-width 285px
	.form-modal .email-block
		width 100%
	.input-mail-modal
		width 360px
	.button-form
		max-width 360px
@media screen and (max-width 1199px)
	#main
		background-position: left -20% bottom 190%, right -20% bottom 130%
	.form
		padding 20px
	.form-title span
		margin 0 20px 0 15px
	.input
		margin-right: 0
	.input-mail-modal
		margin-right: auto
	#authors-img
		width 450px
		height 460px
		background-size contain
	#certs
		margin-top: 30px
@media screen and (max-width 991px)
	header
		padding 15px 0
	#logo
		float: none
		margin 0 auto 5px
		display block
	.contacts
		float: none
		text-align: center
	.contact
		display: inline-block
		margin 5px 5px 0
		line-height: 17px
	#main
		background-position: left -42% bottom 190%, right -52% bottom 130%;
	.main-subtitle
		max-width 410px
	.mail-form-container
		padding 0
		background-image none
	.form-title
		display block
		position: static
		text-align: center
		float: none
		span 
			display block
			float: none
			transform: rotate(90deg)
			margin -8px 0 8px 0
	.email-block
		display block
		float: none
	.input
		margin 0 auto 10px
		display block
	.button-form
		float none
		margin 0 auto
		display block
	.general-title-2
		padding 0 60px
	.general-title-2::before
		left -150px
	.general-title-2::after
		right -150px
	.reason
	.reason:last-of-type
	.day-list li
	.day-list li:last-child
		margin-bottom: 25px
	.form-modal
		padding 0
	.day-img
		margin-bottom: 20px
	.button-mt
		margin-top: 30px
	#authors-img
		width 340px
		height 360px
	.certs-title
		line-height: 1.3
		margin-top: 15px
	.carousel-control
		top auto
		bottom -7px
		height 30px
		line-height: 30px
@media screen and (max-width 767px)
	#main
		background-image none
	.main-subtitle
		max-width 530px
	.video-wrapper-main
		max-width 560px
	.changes-subtitle
		margin-top: 20px
	.change-item
		width 100%
		max-width: 490px;
		margin: 0 auto 20px;
	.day
		padding 10px 0
	.button-mt
		margin-top: 10px
	.certs-title 
		margin:0 0 15px
@media screen and (max-width 485px)
	#logo
		width 160px
		height 14px
	.contact
		font-size: 12px
		line-height: 15px
		background-size: 15px
		padding-left: 18px
	.contact.contact-email
		padding-left: 26px
	.inner-bordered-container
	.bordered-container-wrapper
		padding 20px
	.main-title
		font-size: 34px
		margin 10px 0 15px
		line-height: 1.2
		padding 15px 0
	#mail-section
	#last
	#authors
		padding 40px 0
	.general-title
		font-size: 26px
		margin-bottom: 20px
	.day-title
		font-size: 36px
	.day
		padding 5px 0 10px
	.day-subtitle
		margin 10px 0 15px
		padding 10px 0
	.day-img
		width 100px
		height auto
	#authors-img
		width 250px
		height 270px
	#certs
		padding 15px 5px
	.carousel-inner > .item > a > .revs-img
		height 150px
	#video-revs-slider
		margin-bottom: 30px
	footer
		padding 15px 0
		font-size: 12px;
	.general-title-2
		padding 0 20px
	.general-title-2::before
		left -190px
	.general-title-2::after
		right -190px
@media screen and (max-width 385px)
	.politics_modal-content .modal-title
		font-size: 18px
	.bordered-container-wrapper, .inner-bordered-container,
	.form
		padding 15px
	.pre
		font-size: 16px
	.main-title
		font-size: 28px
	.main-subtitle
		margin 5px auto 15px
	.main-container
		margin-bottom: 10px
	#authors, #last, #mail-section
		padding 30px 0
	.form-title
		font-size: 24px
	.checking .check-label
		line-height: 17px
	.general-title
		font-size: 24px
	.reason
		padding-left:  27px
		&:before
			width: 20px;
			height: 20px;
			top 6px
		&:after
			width: 17px;
			height: 10px;
			left: 5px;
			top: 7px;
	.day-list li, .day-list li:last-child, .reason, .reason:last-of-type
		margin-bottom: 10px
	.general-title-2
		padding 0 8px
	.button
		line-height: 1.1
		padding 10px
	.day-title
		font-size: 28px
	.day-list li
		background-position: left top 7px;
		background-size: 21px
		padding-left: 27px
	.modal-title
		font-size: 20px
		width 77%
		margin 0 auto 15px
	.form-modal
		padding 0