.reason
	position relative
	padding-left: 48px
	color #2a251d
	margin-bottom:  30px
	&:last-of-type
		margin-bottom: 0
	&:before
	&:after
		content: ''
		display block
		position: absolute
	&:before
		width 33px
		height 33px
		border: 2px solid #FFC661
		top -2px
		left 0
	&:after
		width 30px
		height 17px
		border-left: 2px solid #24293C
		border-bottom: 2px solid #24293C
		transform: rotate(-45deg);
		left: 6px;
		top: 3px;