#changes
	padding 40px 0
	background-image url(../img/backgrounds/author_bg.png)
	background-repeat no-repeat
	background-position: center
.change-item
	margin-bottom: 25px
	padding-left: 47px
	background-repeat no-repeat
	background-position: top left
	background-size: 36px
	color #fbf1f9
	&-1
		background-image url(../img/icons/changes_1.png)
	&-2
		background-image url(../img/icons/changes_2.png)
	&-3
		background-image url(../img/icons/changes_3.png)
	&-4
		background-image url(../img/icons/changes_4.png)
	&-5
		background-image url(../img/icons/changes_5.png)
	&-6
		background-image url(../img/icons/changes_6.png)
	&-7
		background-image url(../img/icons/changes_7.png)
	&-8
		background-image url(../img/icons/changes_8.png)
	&-9
		background-image url(../img/icons/changes_9.png)
	&-10
		background-image url(../img/icons/changes_10.png)
	&:last-of-type
		margin-bottom: 0
.changes-subtitle
	font-size: 30px;
	font-family: PH
	color: rgb(246, 196, 98);
	line-height: 1;
	text-align: center;
	margin-top: 65px