.day
	padding: 26px 0 15px
	border-top: 4px double #b6b6b6
	&-title
		text-align: center
		color #e7aa33
		font-size: 48px
		font-family: PH
	&-subtitle
		text-align: center
		margin 15px 0
		border-top: 4px double #b6b6b6
		border-bottom: 4px double #b6b6b6
		padding 15px 0
		color #2a251d
		font-family: PH
		font-size: 18px
	&-img
		display block
		margin 0 auto
	&-list
		li
			list-style: none
			margin-bottom: 30px
			padding-left: 50px
			background-repeat no-repeat
			background-position: left top
			color #2a251d
			min-height 37px
			&:last-child
				margin-bottom: 0
		&-1 li
		&-3 li
			background-image url(../img/icons/plan_check_1.png)
		&-2 li
			background-image url(../img/icons/plan_check_2.png)