#authors
	padding 50px 0
	&-img
		display block
		margin 0 auto
		height 564px
		width 529px
		background-image url(../img/images/authors_img.png)
		background-repeat no-repeat
		background-position: center
.author-title
	font-family: PH
	font-size: 24px
	color #efc05e
	margin-bottom: 10px
	small
		font-size: 18px
		display block
	&:last-of-type
		margin-top: 30px
.author-list
	li
		list-style: none
		margin-bottom: 10px
		color #fff
		&:last-child
			margin-bottom: 0
#certs
	padding 30px 10px
	border-top: 4px double #b6b6b6
	border-bottom: 4px double #b6b6b6
.certs-title
	font-size: 24px;
	font-family: PH
	color: rgb(239, 192, 94);
	text-align: center
	line-height: 90px
.cert-img
	width 100%
	height 90px
	object-fit: cover
	object-position: center